@import '../../utils/styles/functions.scss';
.Categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: vw(37.3, 751) 0;
    &-img {
        margin: vw(20.18, 751) 0;
        width: vw(666.65, 751);
        height: vw(500.46, 751);
        //max-width: 841.68px;
        //max-height: 631.86px;
    }
}

@media screen and (min-width: 1024px) {
    .Categories {
        margin: vw(49.26, 1024) 0;
        &-img {
            width: vw(448.9, 1024);
            height: vw(337, 1024);
            margin: 0;
        }
    }
}