@import '../../utils/styles/functions.scss';
.Card {
    width: vw(400, 751);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-imageContainer {
        position: relative;
        &-discountTag {
            position: relative;
            background-color: transparent;
            color: white;
            font-size: vw(22.52, 751);
            line-height: vw(35, 751);
            width: vw(87, 751);
            height: vw(35, 751);
            z-index: 2;
            &.purple {
                background-color: #5B17AA
            }
        }
        &-image {
            margin-top: -(vw(35, 751));
            width: vw(351.39, 751);
            height: vw(514.43, 751);
            min-width: 150px;
        }
    }
    &-description {
        padding: 0 7%;
        text-align: left;
        font-size: vw(32.04, 751);
        margin: vw(32.38, 751) 0 vw(47.81, 751);
    }
    &-prices {
        display: flex;
        justify-content: space-between;
        &>* {
            font-size: vw(37.3, 751);
            margin: 0;
            padding: 0 2%;
        }
        &-old {
            color: #6B6B6B;
            text-decoration-line: line-through;
        }
        &-new {
            color: #5B17AA;
        }
    }
}

@media screen and(min-width: 1024px) {
    .Card {
        width: 300px;
        &-imageContainer {
            &-discountTag {
                font-size: vw(22.52, 1920);
                line-height: vw(35, 1920);
                width: vw(87, 1920);
                height: vw(35, 1920);
            }
            &-image {
                margin-top: -(vw(35, 1920));
                width: vw(253, 1920);
                height: vw(366, 1920);
            }
        }
        &-description {
            font-size: vw(23.19, 1920);
            margin: vw(32.38, 1920) 0 vw(33.7, 1920);
        }
        &-prices {
            &>* {
                font-size: vw(27, 1920);
            }
        }
    }
}