.Modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.8);
    position: fixed;
    top: 0;
    transform: rotateX(90deg);
    transform-origin: top center;
    transition: all 0.4s ease;
    &.isOpen {
        transform: none;
        z-index: 10;
    }
    &-content {
        position: relative;
        padding: 4em 1em;
        width: 80vw;
        height: 80vh;
        background-color: white;
        border-radius: 5px;
        overflow-y: scroll;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &>div {
            margin: 3em 2em;
            box-shadow: 0px 3px 8px #00000029;
            box-sizing: border-box;
            padding: 1em;
        }
    }
    &-close {
        position: absolute;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        right: 2em;
        top: 3em;
        width: 3em;
        height: 3em;
    }
}