@import '../../utils/styles/functions.scss';
.Banner {
    position: relative;
    &-buttonsContainer {
        display: none;
    }
    &-img {
        width: 100%;
        height: vw(561.98, 751);
    }
    &-circles {
        position: absolute;
        bottom: 26px;
        display: flex;
        width: 100%;
        justify-content: center;
        & button {
            width: vw(37, 751);
            height: vw(37, 751);
            max-width: 37px;
            max-height: 37px;
            border-radius: 50%;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: none;
            background-color: white;
            opacity: 0.44;
            margin: 0 6.89px;
            &.active {
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .Banner {
        &-buttonsContainer {
            position: absolute;
            width: 100%;
            padding: 0 vw(71.5, 1920);
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            top: 50%;
            & .button {
                border: none;
                padding: 0;
                background-color: transparent;
                cursor: pointer;
                outline: none;
                font-size: vw(73.06, 1920);
                color: #FFFFFF;
                font-weight: lighter;
            }
        }
        &-img {
            height: vw(386.87, 1024);
        }
    }
}